# Task 2: Feb Internship Logic Building Task

### Problem 1: Unique Words in a Sentence
#### Problem Statement

Given a sentence, identify all unique words and display:
- The count of unique words
- The unique words themselves
#### Input
Enter sentence: python is easy and python is powerful
#### Expected Output
Unique words count: 5  

Unique words: {'python', 'is', 'easy', 'and', 'powerful'}

In [4]:
text = "python is easy and powerful"

# Split the sentence into words
words = text.split()

# Convert list to set to get unique words
unique_words = set(words)

# Print results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'and', 'easy', 'is', 'python', 'powerful'}

### Problem 2: Highest Salary from Employee Data
#### Problem Statement
Store employee names and their salaries, and determine which employee has the highest salary.
#### Example Input
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

#### Expected Output
Highest Salary: Ravi - 75000

In [5]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

# Print result
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

### Problem 3: Find Maximum and Minimum Values
#### Problem Statement
Find the maximum and minimum values from a list of numbers.
#### Example Input
numbers = [45, 22, 89, 10, 66]

#### Expected Output
List: [45, 22, 89, 10, 66]  
Max: 89  
Min: 10

In [6]:
numbers = [45, 22, 89, 10, 66]

# Find maximum and minimum
maximum = max(numbers)
minimum = min(numbers)

# Print results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

### Problem 4: Count Products Above a Price Threshold
#### Problem Statement
Count how many products have a price greater than 1000.
#### Example Input
prices = [450, 1200, 899, 1500, 300]

#### Expected Output
Products above 1000: 2

In [7]:
prices = [450, 1200, 899, 1500, 300]

# Count products with price greater than 1000
count = 0
for price in prices:
    if price > 1000:
        count += 1

# Print result
print("Products above 1000:", count)

Products above 1000: 2

### Problem 5: Calculate Attendance Percentage
#### Problem Statement
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).
#### Example Input
attendance = ["P", "P", "A", "P", "P"]

#### Expected Output
Attendance Percentage: 80.0

In [8]:
attendance = ["P", "P", "A", "P", "P"]

# Count total days
total_days = len(attendance)

# Count present days
present_days = attendance.count("P")

# Calculate percentage
percentage = (present_days / total_days) * 100

# Print result
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

### Problem 6: Remove Duplicate Phone Numbers
#### Problem Statement
You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.
#### Example Input
phone_numbers = [9876543210, 9123456789, 9876543210]

#### Expected Output
Unique phone numbers: {9876543210, 9123456789}

In [9]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# Remove duplicates using set
unique_numbers = set(phone_numbers)

# Print result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

### Problem 7: Count Character Frequency
#### Problem Statement
Count how many times each character appears in a given string.
#### Expected Output
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [10]:
text = "python"

# Create empty dictionary
frequency = {}

# Count each character
for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

# Print result
print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

### Problem 8: Convert List to Tuple
#### Problem Statement
Convert a list into a tuple and display it.
#### Expected Output
Tuple: (10, 20, 30)

In [11]:
numbers = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Print result
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

### Problem 9: Check if a Key Exists in a Dictionary
#### Problem Statement
Check whether a specific key exists in a dictionary.
#### Expected Output
Employee exists

In [12]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key_to_check = "Ravi"

# Check if key exists
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

### Problem 10: Calculate Average Marks
#### Problem Statement
Calculate the average marks of a student from a list of marks.
#### Expected Output
Average Marks: 72.5

In [13]:
marks = [60, 75, 80, 75]

# Calculate average
average = sum(marks) / len(marks)

# Print result
print("Average Marks:", average)

Average Marks: 72.5